@font-face {
  font-family: 'Larsseit';
  src: url(/fonts/Larsseit-Bold.eot);
  src: local('Larsseit Bold'), local('Larsseit-Bold'),
      url(/fonts/Larsseit-Bold.eot#iefix) format('embedded-opentype'),
      url(/fonts/Larsseit-Bold.woff2) format('woff2'),
      url(/fonts/Larsseit-Bold.woff) format('woff'),
      url(/fonts/Larsseit-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url(/fonts/Larsseit.eot);
  src: local('Larsseit'),
      url(/fonts/Larsseit.eot#iefix) format('embedded-opentype'),
      url(/fonts/Larsseit.woff2) format('woff2'),
      url(/fonts/Larsseit.woff) format('woff'),
      url(/fonts/Larsseit.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url(/fonts/Larsseit-Light.eot);
  src: local('Larsseit Light'), local('Larsseit-Light'),
      url(/fonts/Larsseit-Light.eot#iefix) format('embedded-opentype'),
      url(/fonts/Larsseit-Light.woff2) format('woff2'),
      url(/fonts/Larsseit-Light.woff) format('woff'),
      url(/fonts/Larsseit-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Node Display';
  src: local('Node Display Bold'), local('Node-Display-Bold'),
      url(/fonts/NodeDisplay-Bold.woff2) format('woff2'),
      url(/fonts/NodeDisplay-Bold.woff) format('woff'),
      url(/fonts/NodeDisplay-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}


/* Общие стили */

body {
  margin: 0;
  font-optical-sizing: auto;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 0;
}

.container {
  max-width: 1391px;
  margin: 0 auto;
  position: relative;
}

.btn {
  position: relative;
  padding: 20px 58px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #00C9E0;
  border-radius: 48px;
  border-style: none;
  display: inline-block;
  transition: background-color 0.3s;
  overflow: hidden; 
  z-index: 1;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(7, 148, 161, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;
}

.btn:hover::before {
  opacity: 1; 
}



span {
  font-family: 'Larsseit';
  color: #fff;
  font-weight: bold;
}



/* Навигация и главная страница*/
.nav {
  position: fixed;
  z-index: 2;
  transition: background-color 0.2s, height 0.2s;
}

.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 77px;
  padding-bottom: 156px;
  

}
.header_block {
  min-height: 1194px;
}

.header-image {
  background-image: url(/images/header_bg.jpg);
  background-color: #011627;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;

}

.seporator {
  background: #fff;
  width: 2rem;
  height: .125rem;
  position: absolute;
  left: 145px;
  top: 28px;
  z-index: 2;
}
.seporator_trip {
  background: #fff;
  width: 2rem;
  height: .125rem;
  position: absolute;
  right: -15px;
  top: 28px;
  z-index: 2;
}

.btn_block {
  display: flex;
  position: relative;
}


.header_menu {
  display: flex;
  align-items: center;
  gap: 32px;
}



.welcome_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  max-width: 643px;
  margin: 0 auto 156px auto;

}
.welcome__subtitle {
  font-family: 'Node Display';
  font-weight: 700;
  font-size: 120px;
}

.welcome__title {
  font-family: 'Larsseit';
  font-weight: bold;
  font-size: 18px;

  letter-spacing: 5px;

}
.welcome__desc {
  font-family: 'Larsseit';
  font-weight: 200;
  font-size: 18px;

  line-height: 24px;
}


.header_social {
  display: flex;
  justify-content: space-between;
  
}
.scroll {
  -webkit-transform: rotate(271deg); /* Понятно для Safari и Chrome */
  -moz-transform: rotate(271deg);    /* Firefox это тоже поддерживает */
  -ms-transform: rotate(271deg);     /* Привет от IE 9 */
  -o-transform: rotate(271deg);      /* И Opera не отстает */
  transform: rotate(271deg);  

}
.scroll_seporator {
  display: flex;
  align-items: center;
  text-decoration: none;

  font-family: 'Larsseit';
  font-weight: bold;
  font-size: 15px;

}
.scroll_seporator:before {
  content: '';
  height: 2.5px;
  background: #00C9E0;
  width: 80px;
  border-radius: 13px;
  margin-right: 1.25rem;
  transition: height 0.2s;
}

.scroll_seporator:hover::before {
  /* width: 100px; */
  height: 9px;
}


.seporator:before {
  content: '';
  height: 2.5px;
  background: #5C8EE5;
  width: 50px;
  margin-right: 1.25rem;
  transition: width 0.2s;
}
.scroll_text {
  font-family: 'Larsseit';
  font-weight: bold;
  font-size: 15px;
}

.social {
  display: flex;
  flex-direction: column;
}

.social_icon {
  padding-top: 20px;
}



/* Секция поездок/ о нас */

.bg_img {
  min-height: 185.1875rem;

  background-image: url(/images/Image-bg.png), url(/images/BG_LIGHTS.png);
  background-position: bottom, center;
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-color: #011627;
}
.trip_block {
  margin-bottom: 240px;
}

.trip_cap {
  display: flex;
  align-items: center;
  justify-content: start;

  margin-left: 93px;
  margin-bottom: 138px;

  gap: 33px;
}

.trip_title, .title_about {
  font-family: Noe Display;
  font-size: 72px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -2%;
}

.trip_text {
  font-family: Larsseit;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -2%;
}


.swiper {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.swiper-slide {
  width: 100%;
  text-align: center;
  font-size: 18px;

  display: flex;

  padding-top: 100px;
  padding-bottom: 100px;
  
  gap: 126px;
}

.swiper-slide-block_one {
  position: relative;
}

.swiper-slide .swiper-slide-active {
  width: 100%;
}

.swiper_block {
  max-width: 205px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: absolute;
  top: 233px;
  left: -94px;
}

.swiper_seporator {
  border-top: 2px solid rgb(65, 234, 212);
  border-left:2px solid rgb(65, 234, 212);
  width: 172px;
  height: 12px;
}

.swiper_number {
  color: rgb(65, 234, 212);
  font-family: Larsseit;
  font-size: 24px;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 4px;
}
.swiper_number-text {
  color: rgb(255, 255, 255);
  font-family: Larsseit;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 3px;
  text-align: left;

  padding-top: 15px;
}

.social_icon-trip {
  position: absolute;
  left: -55px;
  bottom: -55px;

  z-index: -1;
}

.swiper-slide-block_two {
  display: flex;
  flex-direction: column;
  align-items: start;

  margin-top: 60px;
  max-width: 40%;
  gap: 40px;
}


.block_title {
  font-family: Noe Display;
  font-size: 65px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -2%;
}

.block_text {
  font-family: Larsseit;
  font-size: 17px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 2px;
  text-align: start;
}

.block_text-2 {
  font-family: Larsseit;
  font-size: 17px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1px;
  text-align: start;
}

/* .slider_block-button {
  display: flex;
  position: absolute;
}

.slider-button-next, .slider-button-prev {
  width: 65px;
  height: 65px;

  display: flex;
  align-items: center;

} */


.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #41EAD4;
}

.swiper-notification {
  width: 60px;
  z-index: 1;
}

.block_share {
  position: absolute;
  right: 145px;
  bottom: 100px;


  display: flex;
  flex-direction: column;


}

.share_text {
  font-family: Larsseit;
  font-size: 15px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 15%;
  text-align: left;
}
.block_social {
  margin-bottom: -17px;

  display: flex;
  gap: 23px;
}

.share_seporator{
  border-bottom: 2px solid rgb(65, 234, 212);
  border-right: 2px solid rgb(65, 234, 212);
  width: 133px;
  height: 31px;
}


/* О нас */

.block_about {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.content_about { 
  margin-top: 50px;
  margin-left: 80px;
  max-width: 30%;

}

#text_about {
  font-family: Larsseit;
  font-size: 18px;
  font-weight: 200;
  line-height: 150%;
  letter-spacing: 1px;

  margin-top: 25px;
}

#text_about-bold {
  font-family: Larsseit;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-align: left;
  margin-top: 40px;
}

.seporator_staff {
  background: #fff;
  width: 2rem;
  height: .125rem;
  position: relative;
  left: 270px;
  bottom: 30px; 
  z-index: 4;
}

.block_staff {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.item-text {
  font-family: Larsseit;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 5%;
  text-transform: uppercase;
}

#text-neon {
  text-transform: uppercase;
  color:rgb(0, 201, 224);
}
.staff-img {
  display: block;
  transition: filter 0.3s ease;
  filter: brightness(50%);

}

.staff-img:hover {
  filter: brightness(100%);
}

.item-text {
  position: absolute;
  bottom: 100%; /* Позиционируем над изображением */
  left: 10%; /* Центрируем по горизонтали */
  bottom: 20%;
  transform: translateX(-50%); /* Сдвигаем влево на половину ширины */
  background-color: rgb(255, 255, 255); /* Полупрозрачный черный фон */
  color: #000; /* Цвет текста */
  padding: 26px 20px;
  border-radius: 5px; /* Закругленные углы */
  opacity: 0; /* Скрываем по умолчанию */
  transition: opacity 0.3s ease;
}

.block_staff-item {
  position: relative;
  margin: 0 auto;
  white-space: nowrap;
}
.block_staff-item:hover .item-text {
  opacity: 1; /* Показываем текст при наведении */
}

.group_block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.about_button {
  margin-top: 38px;
}